{{- $countries := (split (.Get "countries") ",") -}}
{{- $label := default "input" (.Get "label") -}}
{{- $type := default "pie" (.Get "type") -}}
{{- $imgAlt := default (printf "%s chart image with input %s" $type $countries) (.Get "alt") -}}
{{- $width := default "500" (.Get "width") -}}
{{- $height := default "300" (.Get "height") -}}
{{- $backgroundColor := (default "transparent" (.Get "backgroundcolor")) -}}

{{- $fontSize := default "13" (.Get "fontsize") -}}
{{- $fontWeight := default "normal" (.Get "fontweight") -}}
{{- $fontColor := (default "#fff" (.Get "fontcolor")) -}}

{{- $chartConfig := (dict "plugins" (dict "datalabels" (dict "color" $fontColor "font" (dict "size" $fontSize "weight" $fontWeight))) "legend" (dict "labels" (dict "fontColor" $fontColor))) -}}

{{- $encoding := "" -}}
{{- if .Site.IsServer -}} {{- $encoding = "url" -}} {{- else -}} {{- $encoding = "base64" -}} {{- end -}}

{{/* Add in custom processing below */}}

{{- $covidAPI := "https://api.covid19api.com/summary" -}}
{{- $quickChartPre := "https://charts.xyzz.work/chart?" -}}



{{/* Uses Summary API https://covid19api.com/. Refer to each country by the Slug */}}
{{- $postRequest := getJSON $covidAPI -}}

{{- $dataCounts := slice -}} {{/* empty array */}}
{{- $countryPrettyName := slice -}}
{{- range $countries -}}
    {{- $country := . -}}
    {{- range $postRequest.Countries -}}
        {{- if eq $country .Slug -}}
        {{- $dataCounts = $dataCounts | append .TotalConfirmed -}}
        {{- $countryPrettyName = $countryPrettyName | append .Country -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{/* Add in custom processing above */}}

{{- $dataset := dict "label" $label "data" $dataCounts -}}
{{- $datasets := (slice $dataset) -}}
{{- $data := dict "labels" $countryPrettyName "datasets" $datasets -}}

{{- $objectRequest := (dict "type" $type "data" $data "options" $chartConfig) -}}
{{- if .Site.IsServer -}}
    {{- $objectRequest = ($objectRequest | jsonify | safeURL) -}}
{{- else -}}
    {{- $objectRequest = ($objectRequest | jsonify | base64Encode) -}}
{{- end -}}
{{- $objectQuery := (querify "w" $width "h" $height "bkg" $backgroundColor "encoding" $encoding "c" $objectRequest) -}}
<img alt="{{ $imgAlt }}" id="chart-covid" src="{{ $quickChartPre }}{{ $objectQuery }}">
